[{:itonami.blueprint/social-impact [:food-security :household-livelihood :crop-resilience]
  :itonami.blueprint/domain :agriculture/subsistence-crop-farming-household-coordination
  :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger]
  :itonami.blueprint/isco-08 "6310"
  :itonami.blueprint/name "Subsistence Crop Farming Household Coordination Practice"
  :itonami.blueprint/governor :subsistence-farm-governor
  :itonami.blueprint/robotics true
  :db/id -1
  :itonami.blueprint/status :public-oss
  :itonami.blueprint/id "cloud-itonami-isco-6310"
  :itonami.blueprint/license "AGPL-3.0-or-later"
  :itonami.blueprint/maturity :implemented}]
